COMPOSE_PROJECT_NAME=replace-with-artifact-id-demo
POSTGRES_DB=offshorewind_demo
POSTGRES_USER=demo_user
POSTGRES_PASSWORD=local_demo_password
FRONTEND_PORT=3100
BACKEND_PORT=3101
DATABASE_PORT=54329
